.rider-page {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px); /* Assuming there's a top navbar */
  background-color: #f4f6f8;
  padding: 2rem;
}

.rider-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}
